.Section {
  display: flex;
  flex-direction: row;
  padding: 0px 7%;
  align-items: left;
  justify-content: space-evenly;
}

.Content {
  margin: 1rem;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Content p {
  color: #f0f4f6;
  font-size: 3.375rem;
  line-height: 3.75rem;
  letter-spacing: 2px;
  padding-bottom: 0px;
}

.Content p.info {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
}

.Colordiff {
  background-color: #002a56;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 7%;
}

.operatingHours {
  align-items: left;
  padding: 0 7%;
}

h2 {
  color: blue;
  font-size: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.gridItem {
  border-bottom: solid;
}

.printingRates {
  padding: 0 7%;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}