.Content {
  margin: 1rem;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0% 18% 0% 18%;
}

.Content p {
  color: #002a56;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  padding-bottom: 3%;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5% 25% 0% 25%;
}
.TitleBar {
  background-color: #002a56;
  color: white;
  padding: 24px 6%;
}

.TitleBar h1 {
  font-weight: 600;
  font-size: 54px;
}

.NavLinks {
  display: flex;
  text-align: left;
  font-size: 0.75em;
  padding-top: 12px;
  padding-bottom: 20px;
}

.NavLinks p {
  padding-right: 15px;
}
