.OurStructure {
  font-size: 1.3rem;
  color: #484848;
}

.TitleBar {
  background-color: #002a56;
  color: white;
  padding: 24px 6%;
}

.TitleBar h1 {
  font-weight: 600;
  font-size: 54px;
}

.NavLinks {
  display: flex;
  text-align: left;
  font-size: 0.75em;
  padding-top: 12px;
  padding-bottom: 20px;
}

.NavLinks p {
  padding-right: 15px;
}

.Content {
  padding: 74px 20%;
  line-height: 1.8em;
}

.Content p {
  margin-bottom: 50px;
}

.Content img {
  width: 80%;
  margin: 40px auto;
  border-radius: 1%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 25%), 0 6px 20px 0 rgb(0 0 0 / 25%);
}

.Content h2 {
  color: #002a56;
  font-size: 44px;
  margin: 30px 0;
}

.SubSection {
  margin-bottom: 2px;
}

.Card {
  border: none;
  margin-bottom: 2px;
  border-radius: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.Card .CardHeader {
  background: #002a56;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
}

.CardHeader h2 {
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  float: left;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700px;
  font-size: 2rem;
}

.CardBody {
  color: #666;
}

.CardBody p {
  text-align: justify;
}

.TeamCard {
  margin-top: 2px;
}

.CardContent {
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 1024px) {
  .OurStructure {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .Picture {
    width: 20%;
    height: auto;
  }

  .Content {
    padding: 24px 5%;
    line-height: 1.8em;
  }

  .CardHeader h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .Picture {
    width: 10%;
    height: auto;
  }

  .CardHeader h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .OurStructure {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
