.Contact{
    font-size: 1.3rem;
    color: #484848;
}
.Main{
    padding-top: 13vh;
    padding-left: 13vw;
    padding-right: 5vw;
}
.LinkBar{
    background-color:white;
    color: gray;
    /* padding: 24px 86px; */
    padding: 2vw 6%;
    font-weight: 480;

}
.LinkBar h1{
    font-weight: 600;
    font-size: 3.4rem;
}

.TitleBar{
    background-color:white;
    /* padding: 24px 86px; */
    padding-top: 0vh;
    padding-left: 6.5%;
    line-height: 5.5rem;

}

.TitleBar h1{
    font-weight: 600;
    font-size: 5.6rem;
    letter-spacing: -0.4rem;
}

.NavLinks{
    display: flex;
    text-align: left;
    font-size: 0.75em;
    padding-top: 2.2vh;
    padding-bottom: 3.5vh;
}

.NavLinks p{
    padding-right: 2.35px;
}

.Content{
    padding-top: 13.4vh;
    padding-left: 5.8vw;
    padding-right: 10rem;
    line-height: 1rem
}

.Content p{
    margin-bottom: 4.3vh;
}

.Details{
    line-height:1rem;
    margin-bottom: 3rem;
}

.Details h2{
    color: #002A56;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.Details p{
    color: #484848;
    font-size: 1.25rem;
    margin-bottom: 2.7vh;
}

.Details h3{
    color: #484848;
    font-size: 0.9rem;
    margin-top: 5.4vh;
}

.Details h4{
    color: #002A56;
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 2rem;
    text-decoration: underline #FFB200;
}
.Details h4:hover{
    color: gray;
    text-decoration: underline gray;
}

.Details a{
    color: #4372D6;
}
.Details a:visited{
    color: #551A8B; 
}

.Mailing{
    margin-top: 1.5rem;
}

.Mailing h2{
    color: #002A56;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.Space{
    margin-top: 27vh;
}