.NavContainer {
    padding: 20 0px;
    background-color: darkblue;
}

.Nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.NavItem {
    padding: 20px 20px;
    color: white;
    text-align: center;
    border: black;
    display: flex;
    justify-content: center;
    border-width: 0.5px;
    border-style: solid;
}

.NavItem:hover {
    transition: 1s;
    background-color: black;
}

.NavTitle {
    color: white;
    font-weight: bold;
}

.NavSubtitle {
    color: gray
}

@media screen and (max-width: 746px) {
    .Nav {
        display: flex;
        flex-direction: column;
    }
}