.ManagementCommittee{
    font-size: 1.3rem;
    color: #484848;
}

.TitleBar{
    background-color: #002A56;
    color: white;
    /* padding: 24px 86px; */
    padding: 24px 6%;

}

.TitleBar h1{
    font-weight: 600;
    font-size: 54px;
}

.NavLinks{
    display: flex;
    text-align: left;
    font-size: 0.75em;
    padding-top: 12px;
    padding-bottom: 20px;
}

.NavLinks p{
    padding-right: 15px;
}


@media screen and (max-width: 1000px) {
    .TitleBar h1{
        font-size: 50px;
    } 
    
    .TitleBar {
        padding: 24px;
    }
    
    .Content h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .TitleBar h1{
        font-size: 40px;
    }

    .Content{
        margin: 0 !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}