.footer{
    background-color: #363636;
    color: white;
}

.title{
    font-size: 25px;
    font-weight: bold;
    padding: 40px;
}

li{
    font-size: 18px;
    padding: 8px 0;
    list-style-type: none;
}

.container{
    display: inline-block;
    text-align: center;
    width: 20%;
    
}